<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PureSms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PureSmsExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04570F82207B5BA50065B644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04570F9A207B5BA50065B644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04570FA5207B5BA50065B644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04570FBB207B5D7A0065B644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
