<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.welightworld.puresms1</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.welightworld.puresms</string>
		<string>group.com.welightworld.puresmspro</string>
	</array>
</dict>
</plist>
